*{
    margin:0;
    padding:0;
}
body{
   background: linear-gradient(
    135deg,
    rgba(102, 126, 234, 0.85),
    rgba(118, 75, 162, 0.85)
  );
}
.send-butt{
    border-radius: 50%;
    border:none;
    cursor:pointer;
    align-self:center;
    margin-left:20px;

   
}
h1{
    font-family: Smooch sans;
}
.material-symbols-outlined{
    margin-top:3px;
}
.input-box{
    display:flex;
    width: 70%;
    position:fixed;
    bottom:30px;
    left:15%;
    border:none;
    
    
}
.input-box input{
    border-radius:10px;
    border:none;
    padding:15px;
    width:100%;
    outline:none;
}

.bot-loading{
    font-size:24px;
    padding:8px;
    gap:6px;
    display:flex;
    
    
}
.bot-loading span{
    animation:blink 1.4s infinite both;
}

.bot-loading span:nth-child(1){animation-delay:0s;}
.bot-loading span:nth-child(2){animation-delay:0.2s;}
.bot-loading span:nth-child(3){animation-delay:0.4s;}

@keyframes blink {
    0% {
        opacity :0.2;
    }
    20%{
        opacity:1;

    }
    100%{
        opacity:0.2;
    }
    
}

.hidden{
    display:none;
}

h2{
    font-family:Lobster ;
    font-size: 40px;
    margin:0px;
}



.user-msg{
    align-self:start;
    margin-top:10px;
    border:none;
    border-radius:8px;
    padding:8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    background: rgba(255,255,255,0.9);
    align-self: flex-end;
    font-size:25px;

}

.bot-msg{
    align-self:end;
    margin-top:10px;
    border:none;
    border-radius:8px;
    padding:8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    font-size:25px;
    background: rgba(255,255,255,0.95);
    align-self: flex-start;

}
#chat-box{
    padding:16px;
    height:calc(100vh-140px);
    overflow-y:auto;
    padding-bottom:90px;
}



.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.navbar-links{
    display:flex;
    column-gap:20px;
    margin-right:10px;
}







.navbar-links a{
    text-decoration: none;
    font-family: 'Smooch Sans', sans-serif;
    color: #1f2937; 
    font-weight: 500;
    cursor:pointer;
    font-size: 20px;
    
}

.toogle-button{
    display:none;
}

.navbar-links a:hover{
    text-decoration: underline;

}

@media screen and (max-width:600px){
    .navbar-links{
        display:none;
    }
    .toogle-button{
        display:block;
    }
}

.side-navbar{
    background: linear-gradient(135deg, #667eea, #764ba2);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width:50%;
    height:100%;
    position:fixed;
    top:0;
    left:-60%;
    transition:1s;
    padding:10px;
    z-index:1000;
}

.side-navbar-link{
    margin-bottom:20px;
}
.side-navbar-link a{
    text-decoration:none;
    color:black;
    cursor:pointer;
    font-size:25px;
}

.side-navbar-link a:hover{
    text-decoration: underline;
}
.cross{
    text-align: right;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
h3{
    font-family: Smooch Sans;
    font-size: 24px;
    background-color: aliceblue;
    padding:10px;
    border-radius: 10px;
    transition: transform 0.3s ease;

   
    
    
}
h3:hover{
    transform: scale(1.05);
}