
*{
    margin:0px;
    padding:0px;
}



body{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 20px;
    display :flex;
    flex-direction: column;
    width:100%;
    min-height:100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
    135deg,
    rgba(102, 126, 234, 0.85),
    rgba(118, 75, 162, 0.85)
  );
    
    
}


.title {
    font-family:Lobster;
    position: fixed;   
    top: 0px;
    left: 5px;
    font-size: 28px;
    font-weight: bold;
}
.login h2{
    font-size: 30px;
     letter-spacing: 0.5px;
     color: #1f2937; 
  font-weight: 600;
}

.login form{
    display:flex;
    flex-direction: column;
    width:100%
    
}
.login{
    display:flex;
    border:2px solid black;
    padding:50px;
    border-radius:10px; 
    flex-direction:column;
    align-items:center;
    background: rgba(255, 255, 255, 0.12); 
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 14px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    
    

   


}
#username,#password{
    padding:10px;
    border-radius:10px;
    outline: none;
    border:none;
}

#log-button{
    padding:10px;
    border-radius:10px;
    align-self: center;
    margin-top:30px;
    width:100%;
    background-color:rgb(11, 179, 93);
    outline:none;
    font-weight: bolder;
    border:none;
     color: #f9fafb;




}
.login label{
    margin-top:6px;
    font-weight: bolder;
    letter-spacing: 0.5px;

     color: #f9fafb;
}

.login p{
    font-weight: bold;
    color: #1f2937; 
    
}

.reg{
    margin-top:20px;
     
}