<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiwis ChatBot</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/chat.css')}}">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=send" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&family=Lobster&family=Michroma&family=Smooch+Sans:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&family=Michroma&family=Smooch+Sans:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


</head>
<body>

    <nav class="navbar">
      
        <h1>AnalticaX</h1>
        <div class="navbar-links">
            <p class="navbar-link"><a href="{{url_for('home_page')}}">Home</a></p>
            <p class="navbar-link"><a href="{{url_for('add_sale')}}">Add sales</a></p>
            <p class="navbar-link"><a href="{{url_for('dashboard')}}">Dashboard</a></p>
            <p class="navbar-link"><a href="{{url_for('chat_page')}}">Kiwi </a></p>
            <p class="navbar-link"><a href="{{url_for('sale_table')}}">Sales Details</a></p>
        </div>

       <div class="toogle-button" onclick="tooglesidebar()">
        <i class="fa-solid fa-bars" ></i>
       </div>
   </nav>

   <div class="side-navbar">
    <p class="cross" onclick="closesidebar()">
        <i class="fa-solid fa-xmark" ></i>
    </p>
    <div class="side-navbar-links">
            <p class="side-navbar-link"><a href="{{url_for('home_page')}}">Home</a></p>
            <p class="side-navbar-link"><a href="{{url_for('add_sale')}}">Add sales</a></p>
            <p class="side-navbar-link"><a href="{{url_for('dashboard')}}">Dashboard</a></p>
            <p class="side-navbar-link"><a href="{{url_for('chat_page')}}">Kiwi </a></p>
            <p class="side-navbar-link"><a href="{{url_for('sale_table')}}">Sales Details</a></p>
     </div>
   </div>
   <div class="head">
    <h3> Welcome to Kiwi — your AI assistant for quick sales insights.</h3>

   </div>
   
    

    <div class="input-box">
         <input type="text" id="question" placeholder="Ask any questions...">
         <button onclick="askAI()" class="send-butt"> <span class="material-symbols-outlined">send</span></button>
    </div>
    
    <div id="chat-box">
        
    </div>
    <div id="loading" class="hidden">
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
    
    
    

    <script>
        async function askAI()
        {
                const questionInput=document.getElementById("question");
                const question=questionInput.value;
                if(!question.trim()){
                    return;
                }
                const chatBox=document.getElementById("chat-box");
                const userdiv=document.createElement("div");
                userdiv.className="user-msg";
                userdiv.innerText=question;
                chatBox.appendChild(userdiv);
                const res=document.getElementById("response");
                
                questionInput.value="";

                const loading=document.createElement("div");
                loading.className="bot-loading";
                loading.innerHTML='<span>.</span><span>.</span><span>.</span>';
                chatBox.appendChild(loading);
                
                chatBox.scrollTop = chatBox.scrollHeight;

                
               


                const result=await fetch("/chat-ai",{
                    
                        method:"POST",
                        headers:{"Content-Type":"application/json"},
                        body:JSON.stringify({question})
                    });
                    const data=await result.json();
                    loading.remove();
                    
                    const botdiv=document.createElement("div");
                    botdiv.className="bot-msg";

                    const title = document.createElement("div");
                    title.className = "bot-title";
                    title.innerText = "Your response:";
                    
                    const answerText = document.createElement("div");
                    answerText.className = "bot-text";
                    answerText.innerText = data.answer;

                    

                    botdiv.appendChild(title);
                    botdiv.appendChild(answerText);
                    chatBox.appendChild(botdiv);
                    

        }

            var sidebar=document.querySelector(".side-navbar");
            function tooglesidebar(){
            sidebar.style.left="0";

            }
            function closesidebar(){
            sidebar.style.left="-60%"

            }
        
    </script>
    
</body>
</html>