<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="{{url_for('static',filename='css/table.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&family=Lobster&family=Michroma&family=Smooch+Sans:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&family=Michroma&family=Smooch+Sans:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&family=Michroma&family=Smooch+Sans:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta charset="UTF-8">
    <title>Sales details</title>

    
</head>
<body>
    <nav class="navbar">
      
        <h1>AnalticaX</h1>
        <div class="navbar-links">
            <p class="navbar-link"><a href="{{url_for('home_page')}}">Home</a></p>
            <p class="navbar-link"><a href="{{url_for('add_sale')}}">Add sales</a></p>
            <p class="navbar-link"><a href="{{url_for('dashboard')}}">Dashboard</a></p>
            <p class="navbar-link"><a href="{{url_for('chat_page')}}">Kiwi </a></p>
            <p class="navbar-link"><a href="{{url_for('sale_table')}}">Sales Details</a></p>
        </div>

       <div class="toogle-button" onclick="tooglesidebar()">
        <i class="fa-solid fa-bars" ></i>
       </div>
   </nav>

   <div class="side-navbar">
    <p class="cross" onclick="closesidebar()">
        <i class="fa-solid fa-xmark" ></i>
    </p>
    <div class="side-navbar-links">
            <p class="side-navbar-link"><a href="{{url_for('home_page')}}" >Home</a></p>
            <p class="side-navbar-link"><a href="{{url_for('add_sale')}}">Add sales</a></p>
            <p class="side-navbar-link"><a href="{{url_for('dashboard')}}">Dashboard</a></p>
            <p class="side-navbar-link"><a href="{{url_for('chat_page')}}">Kiwi </a></p>
            <p class="side-navbar-link"><a href="{{url_for('sale_table')}}">Sales Details</a></p>
     </div>
   </div>
    
    <h2 class="subtitle">Overall sales details </h2>
   
    <br>
    <br>
    
    <div class="sales_details">
        <table>
      <tr>
        <th>Date</th>
        <th>Product</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>

      {% for sale in sales %}
      <tr>
        <td>{{sale["date"]}}</td>
        <td>{{sale["product_name"]}}</td>
        <td>{{sale["category"]}}</td>
        <td>{{sale["quantity"]}}</td>
        <td>{{sale["price"]}}</td>
        <td>{{sale["quantity"]*sale["price"]}}</td>
      </tr>
      {% endfor %}
        
    </table>


    </div>

    <div class="print-button">
        <button onclick="window.print()">Print</button>
    </div>

    <script>
        var sidebar=document.querySelector(".side-navbar");
        function tooglesidebar(){
            sidebar.style.left="0";

            }
        function closesidebar(){
            sidebar.style.left="-60%"

            }
    </script>
    
</body>
</html>